!!! 5
html(lang='en', ng-app='Pasahero')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Replace me!

    link(rel="stylesheet", href="lib/bootstrap/bootstrap.min.css")
    link(rel='stylesheet', href='lib/font-awesome/css/font-awesome.css')
    //link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.5/leaflet.css')
    link(rel='stylesheet', href='lib/leaflet/leaflet.css')
    link(rel='stylesheet', href='css/app.css')

  body    
    #content(ng-view)        
    
    script(type="text/javascript", src='/lib/jquery-1.9.1.js') 
    //script(type="text/javascript", src='http://cdn.leafletjs.com/leaflet-0.5/leaflet.js')
    script(type="text/javascript", src='/lib/leaflet/leaflet.js')
    script(type="text/javascript", src='/lib/angular/angular.js')
    script(type="text/javascript", src='/lib/angular/angular-resource.js')
    script(type="text/javascript", src='/lib/angular-leaflet-directive/angular-leaflet-directive.js')
    script(type="text/javascript", src='/js/app.js')
    script(type="text/javascript", src='/js/controllers.js')
    script(type="text/javascript", src='/js/services.js')
    script(type="text/javascript", src='/js/resources.js')
    script(type="text/javascript", src='/js/directives.js')
        
